{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

    <main class="content" role="main">
        <article class="{{post_class}}">

            <header class="post-header">
                <h1 class="post-title">{{title}}</h1>

                <section class="post-meta">
                    {{author}} | <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time>
                </section>

                {{#if image}}
                    <img class="post-cover" src="{{image}}"/>
                {{/if}}
            </header>

            <section class="post-content">
                {{content}}
            </section>

            <footer class="post-footer">

                {{! Everything inside the #author tags pulls data from the author }}
                {{#author}}

                    <section class="author">
                        {{#if image}}
                            <figure class="author-image animated hiding" data-animation="flipInX">
                                <a class="img" href="{{url}}" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></a>
                            </figure>
                        {{/if}}

                        <section class="post-meta">
                            {{name}} | <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time>
                        </section>
                    </section>

                {{/author}}
        </article>
    </main>
{{/post}}
